Este trabalho tem o propósito de ser um ponto de partida para o projeto final do curso. Vocês irão manipular uma base de dados utilizando pandas.

Escolha uma base de dados disponibilizada no arquivo zipado.


1- Salve a base de dados escolhida no seu drive e importe para um notebook do Colab, criando um Dataframe

2- Inspecione as colunas do conjunto de dados (Nome das colunas e tipo de dados)

3- Escolha uma coluna com valores numéricos e apague todas as linhas que possuam valor nulo

4- Calcule a média desta mesma coluna

5- Escolha um critério para eliminar as linhas que possuam valores muito distantes da média e crie um novo Dataframe.


6- Crie um novo Dataframe que contenha apenas 5 colunas do conjunto anterior.

7-Escolha duas colunas numéricas e crie uma nova coluna que siga a regra: (Coluna A - Coluna B)*número aleatório (entre 0 e 1).

8- Embaralhe aleatoriamente o dataframe (índices e valores).

9- Ordene o Dataframe seguindo um critério definido por você (Explique o critério)

10- Escolha uma coluna numérica e um coluna com strings e utilize a função Groupby para mostrar os totais da  coluna.

11- Utilize a função MAPS para fazer algum tipo de substituição no Dataframe (explique)

Exporte o último Dataframe para um arquivo CSV e salve no seu drive

Exporte o mesmo Dataframe para um arquivo JSON e salve no seu drive

Salve o Notebook no seu repositório do Github junto com os arquivos exportados.

Enviem os arquivos no seguinte formato: NomeSobrenome_Matricula_Lista3.ipynb (formato de arquivo do google colab).

Envie o link do repositório do github e deixe público, de forma que seja possível acessar o repositório e baixar o arquivo .ipynb por lá

In [1]:
import pandas as pd
import pickle as pkl
from google.colab import  drive
import random

In [2]:
# Q1 & Q2

drive.mount('/drive')
diabetes = pd.read_csv('/drive/MyDrive/PussyRio/eng1111/pratica1-classificacao/diabetes/class_diabetes.csv')

pd.set_option('display.max_rows', 3)
display(diabetes)

Mounted at /drive

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [3]:
#Q3

diabetes["insu"].dropna() #no caso deste banco de dados, nao ha valor algum em coluna alguma com valor nulo, portanto nenhuma linha foi apagada.

pd.set_option('display.max_rows', 5)
display(diabetes)

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [4]:
#Q4

mediaInsu = diabetes["insu"].mean()
print(mediaInsu)

79.79947916666667

In [5]:
#Q5

pd.set_option('display.max_rows', 5)

lin1Excluir = diabetes[ abs(diabetes["insu"] - mediaInsu)/mediaInsu > 0.60 ].index
diabetes.drop(lin1Excluir, inplace = True)

novodf = diabetes

display(novodf)

     preg  plas  pres  skin  insu  mass   pedi  age            class
3       1    89    66    23    94  28.1  0.167   21  tested_negative
6       3    78    50    32    88  31.0  0.248   26  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
755     1   128    88    39   110  36.5  1.057   37  tested_positive
765     5   121    72    23   112  26.2  0.245   30  tested_negative

[192 rows x 9 columns]

In [45]:
#Q6 

c1= novodf['insu']
c2= novodf['mass']
c3= novodf['pedi']
c4= novodf['age']
c5= novodf['class']

diabetes5Col = pd.concat([ c1, c2, c3, c4, c5 ], axis = 1)
display(diabetes5Col)

     insu  mass  pedi  age            class
3      94  28.1   0.2   21  tested_negative
6      88  31.0   0.2   26  tested_positive
..    ...   ...   ...  ...              ...
755   110  36.5   1.1   37  tested_positive
765   112  26.2   0.2   30  tested_negative

[192 rows x 5 columns]

In [46]:
#Q7 

colunaA = diabetes5Col['mass']
colunaB = diabetes5Col['age']
numRand = random.randint(1,10)/10

print('multiplicando por %.1f', numRand)

diabetes5Col.insert( 4, 'mass_age', ((colunaA - colunaB)*numRand))
pd.options.display.float_format = '{:.1f}'.format

display(diabetes5Col)

multiplicando por %.1f 1.0

     insu  mass  pedi  age  mass_age            class
3      94  28.1   0.2   21       7.1  tested_negative
6      88  31.0   0.2   26       5.0  tested_positive
..    ...   ...   ...  ...       ...              ...
755   110  36.5   1.1   37      -0.5  tested_positive
765   112  26.2   0.2   30      -3.8  tested_negative

[192 rows x 6 columns]

In [47]:
#Q8

import numpy as np

diabetes5Col = diabetes5Col.reindex(np.random.permutation(diabetes5Col.index))

display(diabetes5Col)

     insu  mass  pedi  age  mass_age            class
441    50  32.2   0.5   22      10.2  tested_negative
551   106  31.9   0.6   25       6.9  tested_negative
..    ...   ...   ...  ...       ...              ...
650   100  25.2   0.2   23       2.2  tested_negative
497    76  30.1   0.5   25       5.1  tested_negative

[192 rows x 6 columns]

In [48]:
#Q9

#Ordenarei o dataframe pelo peso das pessoas que nele aparecem (do maior para o menor)

diabetes5Col = diabetes5Col.sort_values(by='mass', ascending=False)

display(diabetes5Col)

     insu  mass  pedi  age  mass_age            class
125    99  55.0   0.5   26      29.0  tested_positive
120   100  53.2   0.8   25      28.2  tested_positive
..    ...   ...   ...  ...       ...              ...
526    82  18.2   0.3   21      -2.8  tested_negative
371    89   0.0   1.7   21     -21.0  tested_negative

[192 rows x 6 columns]

In [49]:
#Q10

grpInsulinas = diabetes5Col.groupby('insu')[['insu']].count()
grpTestado = diabetes5Col.groupby('class')[['class']].count()

display(grpInsulinas)
display(grpTestado)

      insu
insu
32       1
36       3
...    ...
126      3
127      1

[72 rows x 1 columns]

                 class
class
tested_negative    161
tested_positive     31

In [50]:
#Q11

#tranformando "tested_positive" em 1, e "tested_negative" em 0 na propria coluna:

diabetes5Col["class"] = diabetes5Col["class"].map(
    {'tested_negative' : 0, 'tested_positive' : 1}
)

display(diabetes5Col)
display(diabetes5Col['class'])

     insu  mass  pedi  age  mass_age  class
125    99  55.0   0.5   26      29.0      1
120   100  53.2   0.8   25      28.2      1
..    ...   ...   ...  ...       ...    ...
526    82  18.2   0.3   21      -2.8      0
371    89   0.0   1.7   21     -21.0      0

[192 rows x 6 columns]

125    1
120    1
      ..
526    0
371    0
Name: class, Length: 192, dtype: int64

In [53]:
diabetes5Col.to_csv('/drive/MyDrive/PussyRio/eng1111/pratica1-classificacao/diabetes/diabetes5Col.csv')

In [54]:
diabetes5Col.to_json('/drive/MyDrive/PussyRio/eng1111/pratica1-classificacao/diabetes/diabetes5Col.json')